<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explosion</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
    <!--<link href="css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/iranian-sans" type="text/css" />

</head>
<body>
    <nav class="top-navigation">
        <div class="content">
            <img class="logo" src="../images/karma-logo.svg" alt="karma Logo" width="26px">
        </div>
    </nav>
    <section class="introduction">
        <div class="content" style="font-family: 'IranianSansRegular'">
            <h1>مدیریت مالی شخصی اکسپلوژن</h1>
            <div class="buttons">
                <form target="Account/Login">
                    <a href="/Account/SignIn" class="buttons">اتصال به بانک ملی »</a>
                </form>
            </div>
        </div>
    </section>

    <section class="cases">
        <div class="content" style="font-family: 'IranianSansRegular'">
            <h2>مدیریت حساب و کتاب شخصی</h2>
            <ul class="devices">
                <li>
                    <img width="127px" height="127px" src="../images/icon-devices.svg" alt="Internet for all devices image">
                    <div class="caption">
                        <h3>حساب خود را مدیریت کنید</h3>
                    </div>
                </li>
                <li>
                    <img width="127px" height="127px" src="../images/icon-coffee.svg" alt="Boost your productivity image">
                    <div class="caption">
                        <h3>هر زمانی که خرید می کنید</h3>
                    </div>
                </li>
                <li>
                    <img width="127px" height="127px" src="../images/icon-refill.svg" alt="Pay as You Go">
                    <div class="caption">
                        <h3>هر مکانی که خرید می کنید</h3>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <footer class="social">
        <div class="content">

            <hr>
            <h5>به ما بپیوندید</h5>
            <ul class="icons">
                <li class="twitter">
                    <i class="fa fa-twitter"></i>
                </li>
                <li class="facebook">
                    <i class="fa fa-facebook"></i>
                </li>
                <li class="instagram">
                    <i class="fa fa-instagram"></i>
                </li>
            </ul>
            <span class="copy">
                &copy; Explosion, Inc.
            </span>
        </div>
    </footer>

</body>
</html>